<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <input type="text" placeholder="enter your first name...." name = 'firstName' value="">
    <input type="text" placeholder="enter your Last name...." name="lastName">
    <input type="text" placeholder="enter your number ...." name="phoneNumber">
    <input type="text" placeholder="enter your adress...." name="address">
    <input type="text" placeholder="enter your pincode...." name="pincode">
    <input type="text" placeholder="enter your state...." name="state">
    
    <a href="">need to edit</a>
</body>
</html>