<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <input type="text" placeholder="enter your Restaurant name...." name = 'restaurantName'>
    <input type="text" placeholder="enter your Location...." name="location">
    <input type="text" placeholder="enter your username...." name="username">
    <input type="password" placeholder="enter your password...." name="password">
    <input type="text" placeholder="enter your number ...." name="phoneNumber">
    <input type="text" placeholder="enter your type...." name="type">
    <input type="text" placeholder="enter your pincode...." name="pincode">
    <input type="text" placeholder="enter your state...." name="state">
    <input type="text" placeholder="enter your about...." name="about">
    <button type="submit">register</button>
</form>
</body>
</html>