<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Restaurant Profile</h2>
<div>
    <p><strong>Restaurant Name:</strong> {{ s.restaurantName }}</p>
    <p><strong>Location:</strong> {{ s.location }}</p>
    <p><strong>Phone Number:</strong> {{ s.phoneNumber }}</p>
    <p><strong>Type:</strong> {{ s.type }}</p>
    <p><strong>Pincode:</strong> {{ s.pincode }}</p>
    <p><strong>State:</strong> {{ s.state }}</p>
    <p><strong>About:</strong> {{ s.about }}</p>
</div>
</body>
</html>